.inputDivWrapper {
    width: 100%;
}

.setForWholeWeekCheckbox {
    margin-top: 8px !important;
    align-self: center;
}

@media (min-width: 960px) {
    .setForWholeWeekCheckbox {
        margin-top: 24px !important;
        margin-bottom: 0 !important;
    }
}
