.home {
	text-align: center;
}

.homeLogo {
	height: 40vmin;
}

.homeHeader {
	background-color: #282c34;
	min-height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.homeBody {
	width: 60vw;
}

.homeBodyTitle {
	width: 100%;
	font-size: 5.5vmin;
}

.homeBodyButton {
	width: 100%;
	height: 10vmin;
	font-size: 3.5vmin !important;
}

.homeFooter {
	height: 5vh;
	font-size: 2vmin;
	background-color: #282c34;
	color: white;
	margin: 0;
}