.navBar {
    height: 48px;
    width: 100%;
    background-color: var(--app-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.navBarMode {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    color: var(--app-text);
}

.navBarSelectText {
    color: var(--app-text) !important;
    text-align: center;
}

.navBarButton {
    color: var(--app-text) !important;
    padding: 8px 12px !important;
}

.navBarButtonDisabled {
    color: var(--app-bg) !important;
    padding: 8px 12px !important;
}

.navBarButtonIcon {
    font-size: 1.1rem !important;
}
