.calendarSelect {
	text-align: center;
}

.calendarSelectHeader {
	background-color: #282c34;
	min-height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.calendarSelectTitle {
	width: 100%;
	font-size: 5vmin;
	margin-block-start: 0;
	margin-block-end: 0.5em;
}

.calendarSelectCalendar {
	height: 65vh;
	margin-bottom: 9vh;
	width: 90%;
}

.calendarSelectButton {
	width: 90%;
	margin-top: 1em !important;
    font-size: 3vmin !important;
}