.app {
	text-align: center;
}

.appLogo {
	height: 40vmin;
}

.appHeader {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.appBody {
	width: 60vw;
}

.appBodyTitle {
	width: 100%;
	font-size: 5.5vmin;
}

.appBodyButton {
	width: 100%;
	height: 10vmin;
	font-size: 3.5vmin !important;
}